h1,h2,h3,h4,h5,h6{
	font-size:16px;
	font-weight:bold;
	font-family:"sans-sarif";
}
div{
	margin:0px;
}
p{
	font:14px lighter sans-sarif;
}
div#container{
	height:100%;
	width:100%;
	border-radius:10px;
	margin:2px;
	position:absolute;
	left:0;
	top:0;
}
div#left{
	border:1px solid #888888;
	position:absolute;
	width:150px;
	height:100%;
	left:0;
	top:0;
	border-radius:10px;
	margin-top:124px;
	background-color:#f5f5f5;
}
div#top{
	position:relative;
	border:1px solid #888888;
	height:120px;
	left:0px;
	margin:0px;
	border-radius:10px;
/*	background-color:#f5f5f5;*/
}
div#right{
	border:1px solid #888888;
	position:absolute;
	right:0;
	top:0;
	width:150px;
	height:100%;
	border-radius:10px;
	margin-top:124px;
	background-color:#f5f5f5;
}
div#content{
	border:1px solid #888888;
	height:100%;
	border-radius:10px;
	position:relative;
	left:154px;
	margin:2px 308px 2px 0px;
	padding-left:15px;
	padding-right:15px;
/*	background-color:#f5f5f5;*/
}
div#footer{
	height:100px;
	border:1px solid #888888;
	border-radius:10px;
	margin:2px 0px;
	position:relative;
	left:0px;
	background-color:#d3d3d3;
}
div#copyright{
	padding-left:15%;
	padding-right:15%;
	margin-top:40px;
	margin-bottom:40px;
	border:1px solid green;
}
div#copyright p {
	text-align:center;
	font:12px lighter sans-sarif;
	border:1px solid red;
}


